# Java
*.class
*.jar
*.war
*.ear

# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
/.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env
.env.*

# Others
/node_modules/
*.sh

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
NLPService/.env
NLPService/venv/
NLPService/.mypy_cache/
NLPService/.pytest_cache/
NLPService/.ipynb_checkpoints/
main copy.py

# Docker
*.pid
*.db
NLPService/.docker/

# Editor swap files
*.swp
*.swo
nextStep.md
